{% extends 'woman/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post" enctype="multipart/form-data"> {# action отсутствует, чтобы не перенаправляла если форма будет ошибочной #}
        {% csrf_token %}  {# защита от атаки. cnfylfhnysq  #}

        <div class="form-error">{{ form.non_field_errors}} </div>  {# общие ошибки при авторизации  #}

        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:  </label> {{ f }} </p>
            <div class="form-error"> {{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Войти</button>
    </form>

{% endblock %}
